body {
	background: #bba8ea;
  font-family: "Comfortaa", sans-serif;
}

/* # is id */
/* . is class */

/*  url("penguin-buddy.png") center center no-repeat */

.buttons-containeragain {
  width:50%; 
  background:pink; 
  padding:2em;
  border-radius:1em;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  font-size:7vw;
  text-align: center;
	font-weight: 900;
	font-family: inherit;
  cursor: pointer;
}

#button1, #button2, #button3, #energyLogButton {
}

#button1 {
  background-color: rgb(187, 169, 233);
}

#button2 {
  background-color: rgb(154, 225, 195);
}

#button3 {
  background-color: rgb(254, 171, 167);
}
