*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
	font-family: Fredoka-SemiBold2;
	src: url(Fredoka-SemiBold.ttf);
}

.fullscreen {
  height: calc(var(--vh) * 100);
}

body {
	background: #bba8ea;
	padding-left: 8%;
	padding-top: 8%;
	padding-right: 8%;
  font-family: "Comfortaa", sans-serif;
}

/* # is id */
/* . is class */

.buttons-container {
	z-index: 5;      
	container-type: inline-size;
	border-radius: 6vw;	
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: rgb(254, 227, 225);
	max-width: 80vw;
	margin: 0 auto;
	padding-top: 6vh;
	padding-bottom: 2vh;
	width: 80vw;
}

/*  url("images/penguin-buddy.png") center center no-repeat */
button {
	z-index: 6;      
  background-color: #00000000;
  border: none;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  font-size: 8vw;
	font-weight: 900;
	font-family: inherit;
	color: white;
	margin: 3%;
  cursor: pointer;
	white-space: nowrap;
}

#button1, #button2, #button3 {
	z-index: 2;      
  border-radius: 6vw;
	width: 72vw;
	max-width: 72vw;
  border: none;
  font-size: 3vw;
  margin: 1%;
  /*padding: 0.9em 2em;*/
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#button1 button, #button2 button, #button3 button{
  color: white;
}

#button1 {
  background-color: rgb(254, 211, 120);
}

#button2 {
  background-color: rgb(154, 225, 195);
  font-size: 2.75vw;
}

#button3 {
  background-color: rgb(254, 171, 167);
}

.energylogbuttoncontainer {
	text-align: center;
	margin-bottom: -4vh;
}

#energyLogButton {
	z-index: 2;      
  border-radius: 8vw;
	width: 55vw;
	max-width: 55vw;
  border: none;
  font-size: 3vw;
  /*padding: 0.9em 2em;*/
  display: inline-block;
  text-align: center;
  text-decoration: none;
	background-color: rgb(254, 227, 225);
  cursor: pointer;
	padding-bottom: 3vh;
	margin-bottom: -2vh;
}

#energyLogButton button{
  color: rgb(82, 74, 99);
}

#readonlySlider-slider {
  display: inline-block;
  text-align: center;
	margin-top: -1vh;
  -webkit-appearance: none;
  width: 30vw;
	max-width: 30vw;
  height: 4vh;
  background: linear-gradient;
  border-radius: 2vw;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#readonlySlider-slider::-webkit-slider-thumb {
  border-radius: 1vw;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vh;
  background: rgb(187, 169, 233);
}

.energyLogModal {
	display: none;
	position: absolute;
	z-index: 100;
	padding-top: 7vh;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(var(--vh) * 100);
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: #00000033;
	font-size: 3vw;
}

.energyLogModal-content {
  display: inline-block;
	background-color: #FFFFFFCC;
	border-radius: 10vw;
	width: 75vw;
	max-width: 75vw;
	height: 50vh;
	padding-top: 2vh;
}

.activityModalh2c {
}

.energyLogCloseButton, .energyLogAcceptButton {
  border-radius: 3vw;
  border: none;
  color: white;
  /*padding: 0.9em 2em;*/
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 20vw;
	cursor: pointer;
	font-size: 4vw;
	font-weight: bold;
	color: #ffffff;
}

.energyLogCloseButton {
  background-color: rgb(254, 171, 167);
}
	
.energyLogAcceptButton {
  background-color: rgb(154, 225, 195);
}

.slider-wrapper, .activityslider-wrapper {
  width: 60vw;
	max-width: 60vw;
  margin: 1.2em auto;
}

.slider-header, .activityslider-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 4vw;
}

#energySlider, #activityenergySlider, #finishEnergy {
  border-radius: 1vw;
  -webkit-appearance: none;
  width: 60vw;
	max-width: 60vw;
  height: 4vh;
  background: linear-gradient;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#energySlider::-webkit-slider-thumb {
  border-radius: 1vw;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vh;
  background: rgb(187, 169, 233);
  cursor: pointer;
}

#activityenergySlider::-webkit-slider-thumb {
  border-radius: 1vw;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vh;
  background: rgb(187, 169, 233);
  cursor: pointer;
}

#finishEnergy::-webkit-slider-thumb {
  border-radius: 1vw;
  -webkit-appearance: none;
  appearance: none;
  width: 4vw;
  height: 4vh;
  background: rgb(187, 169, 233);
  cursor: pointer;
}

#finishEnergy {
	text-align: center;
}

.slider-label, .activityslider-label {
  position: relative;
  font-size: 2.5vw;
  font-weight: bold;
  color: #333;
}

#energyLogsContainer {
	font-size: 10vw;
}

#timer {
	font-size: 8vw;
}

.activityModal {
	display: none;
	position: absolute;
	z-index: 100;
	padding-top: 7vh;
	text-align: center;
	left: 0;
	top: 0;
	height: calc(var(--vh) * 100);
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: #00000033;
	font-size: 3vw;
}

.activityModal-content {
  display: inline-block;
	background-color: #FFFFFFCC;
	border-radius: 10vw;
	width: 90vw;
	max-width: 90vw;
	height: 70vh;
	padding-top: 2vh;
}

.activityBtnGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1vw;
	font-size: 1vw;
}

.activityStartBtn {
  background-color: rgb(154, 225, 195);
  border-radius: 3vw;
	font-size: 6vw;
}

.activityBtnClose {
  border-radius: 3vw;
  background-color: rgb(254, 171, 167);
	font-size: 6vw;
}

.activityStartBtn button, .activityBtnClose button{
	color: white;
}

.activityBtn, .activityBtn2, .activityBtn3, .activityBtn4 {
	z-index: 2;      
  border-radius: 3vw;
  border: none;
  color: white;
  margin: 5%;
  /*padding: 0.9em 2*/
  text-align: center;
  text-decoration: none;
  cursor: pointer;
	
}

.activityBtn {
  background-color: rgb(240, 190, 140);
	font-size: 3.6vw;
}

.activityBtn2 {
  background-color: rgb(154, 225, 195);
	font-size: 0.9vw;
}

.activityBtn3 {
  background-color: rgb(154, 225, 195);
	font-size: 0.8vw;
}

.activityBtn4 {
  background-color: rgb(240, 190, 140);
}

#backBtn {
	z-index: 100;      
  border-radius: 6vw;
	width: 72vw;
	max-width: 22.5vw;
  border: none;
  color: white;
  font-size: 1vw;
  background-color: rgb(134, 99, 218);
  cursor: pointer;
	text-align: center;
	margin-left: -8vw;
	margin-top: -4vh;
	margin-bottom: 5vh;
}

#backBtn button{
	z-index: 100;   
  color: white;
	font-size: 4vw;
	
}

#cancelSWBtn {
  background-color: rgb(254, 171, 167);
  border-radius: 6vw;
	grid-column: 1 / 3;
	font-size: 5vw;
}

#pauseSWBtn {
  background-color: rgb(240, 190, 140);
  border-radius: 6vw;
	grid-column: 1 / 3;
	font-size: 5vw;
}

#finishSWBtn {
  background-color: rgb(154, 225, 195);
  border-radius: 6vw;
	grid-column: 1 / 3;
	font-size: 5vw;
}

.logs-container {
	z-index: 5;      
	container-type: inline-size;
	border-radius: 10vw;	
	padding-top: 4vh;
	padding-bottom: 4vh;
	text-align: center;
	background-color: rgb(254, 227, 225);
	max-width: 80vw;
	margin: 0 auto;
	width: 80vw;
}

.logs-h2 {
	font-size: 7vw;
	margin-top: -1vh;
}
#energyLogList {
	text-align: left;
	margin-left: 7vw;
	margin-bottom: 3vh;
}

.activityBtn.selected {
  outline: 0.4vw solid rgb(134, 99, 218);
  box-shadow: 0 0 0.8vw #8663da99;
  transform: scale(1.05);
}
.activityStartBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#confirmFinish {
  background-color: rgb(154, 225, 195);
  border-radius: 6vw;
	grid-column: 1 / 3;
	padding: 1vw;
	font-size: 8vw;	
}

#brajobbatcontainer {
	margin-top: -2vh;
	margin-bottom: -12vh;
	display:none;
  justify-content: center; 
	width: 100%;
}

#brajobbattext {
	display:none;
	text-align:center;
	margin-bottom: 0vh;
	margin-top: -1vh;
	font-size: 10vw;
	color: #624f61;
	font-weight: 900;
}

#brajobbatcontainer3 {
	margin-top: -2vh;
	margin-bottom: -12vh;
	display:flex;
  justify-content: center; 
	width: 100%;
}

#brajobbatpingvin {
	z-index: 5;
	max-width: 100%;
}

#brajobbattext3 {
	display:block;
	text-align:center;
	margin-bottom: 0vh;
	margin-top: -1vh;
	font-size: 10vw;
	color: #624f61;
	font-weight: 900;
}

.brajobbatcontainercontainer {
	z-index: 5;      
	container-type: inline-size;
	border-radius: 10vw;	
	padding-top: 4vh;
	padding-bottom: 4vh;
	text-align: center;
	background-color: rgb(254, 227, 225);
	max-width: 80vw;
	margin: 0 auto;
	width: 80vw;
}

.brajobbatcontainercontainer img{
	max-width: 80%;
}

.diskar-bild {
	z-index: 5;
	margin-bottom: 2vh;
	width: 100%;
	margin-right: -5vw;
}

#diskar-bild img{
	z-index: 5;
}

.diskar-text {
	z-index: 5;
	margin-top: 1vh;
  display: flex;
  justify-content: center;
	font-size: 10vw;
	color: #624f61;
	font-weight: 900;	
}

.penguinbuddycontainer {
	z-index: 1;      
  display: flex;
  justify-content: center;
	margin-left: 4vw;
}

.penguinbuddycontainer img{
	max-width: 80%;
}

.diskarcontainer img{
	z-index: 5;
	position: relative;
	max-width: 100%;
}

.adhdtitel {
	color: #fef3eb;
	text-align: center;
	font-size: 10vw;
  font-family: Fredoka-SemiBold2;
	font-weight: 100;	
}

.energyLogModal,
.activityModal {
    will-change: transform;
    transform: translateZ(0);
		inset: 0;
}

.modeBtn {
  border-radius: 3vw;
  padding: 1.5vh 3vw;
  font-size: 5vw;
  margin: 1vw;
  border: none;
  cursor: pointer;
  background-color: rgb(240, 190, 140);
}

.modeBtn.selected {
  outline: 0.4vw solid rgb(134, 99, 218);
}

.avklaradAktivitetContainer {
	z-index: 5;      
	container-type: inline-size;
	border-radius: 6vw;	
	padding-bottom: 2vh;
	text-align: center;
	background-color: rgb(254, 227, 225);
	max-width: 80vw;
	margin: 0 auto;
	padding-top: 2vh;
	width: 80vw;
}

.matadjuret, .garderobdjuret {
	display:block;
	text-align:center;
	margin-top: 1vh;
	font-size: 4vw;
	color: #624f61;
	font-weight: 900;
}

.mataBtn {
  background-color: rgb(154, 225, 195);
	z-index: 2;      
  border-radius: 6vw;
  border: none;
  font-size: 5vw;
  margin: 1%;
  /*padding: 0.9em 2em;*/
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
	padding: 1%;
}

.outfit-container {
	display: inline-block;
}

.outfit-container img{
	max-width: 30vw;
  background-color: rgb(230, 200, 200);
  border-radius: 6vw;
}

/* green color, marked outfit

  background-color: rgb(154, 225, 195);*/
.justContainerSoBackBtnWorks {
	position: relative;
	display: relative;
}	

.penguinoutfitcontainer {
	position: relative;
	display: relative;
	pointer-events: none;
	top: 0;
	left: 0;
}

.poutfitcontainer {
	z-index: 1;      
  display: flex;
  justify-content: center;
	margin-top: -13vh;
}

.poutfitcontainer img{
	max-width: 100%;
}

#poutfitcontainer-finished {
	z-index: 1;      
  display: flex;
  justify-content: center;
}

#poutfitcontainer-finished img{
	max-width: 100%;
}

#poutfitcontainer-diskar {
	z-index: 1;      
  display: flex;
  justify-content: center;
}

#poutfitcontainer-diskar img{
	max-width: 100%;
}

.finishModal {
	padding-top: 15vh;
}

#basepenguin {
	z-index: 5;
  display: flex;
  justify-content: center;
	max-width: 100%;
	margin-left: 4vw;
}

#toutfit1, #toutfit1-2 {
	position: absolute;
	z-index: 9;
  display: none;
  justify-content: center;
	max-width: 100%;
	margin-left: 4vw;
}

#toutfit2, #toutfit2-2 {
	position: absolute;
	z-index: 9;
  display: none;
  justify-content: center;
	max-width: 100%;
	margin-left: 4vw;
}

#toutfit3, #toutfit3-2 {
	position: absolute;
	z-index: 1;
  display: none;
  justify-content: center;
	max-width: 100%;
	margin-left: 4vw;
}

#toutfit4, #toutfit4-2 {
	position: absolute;
	z-index: 9;
  display: none;
  justify-content: center;
	max-width: 100%;
	margin-left: 4vw;
}

#backBtn2 {
	z-index: 100;      
  border-radius: 6vw;
	width: 72vw;
	max-width: 22.5vw;
  border: none;
  color: white;
  font-size: 1vw;
  background-color: rgb(134, 99, 218);
  cursor: pointer;
	text-align: center;
	margin-left: -8vw;
	margin-top: -4vh;
	margin-bottom: 5vh;
}

#backBtn2 button{
	z-index: 100;   
  color: white;
	font-size: 4vw;
}

.outfit-container button.active img {
  background-color: rgb(154, 225, 195); /* green highlight */
  box-shadow: 0 0 1.2vw rgba(154, 225, 195, 0.9);
  transform: scale(1.05);
}

.page-test .outfittoggle {
	width: 100%;
	margin-right: 2vw;
	margin-top: -10vh;
}

#poutfitcontainer-diskar .outfittoggle {
	margin-top: 7vh;
	margin-left: 10vw;
}